body{
    max-width: fit-content;
    margin : auto;
    padding: 10px;
    align-content: center;
    background-color: burlywood;
}

#icon-image{
    margin-top: 10px;
    border: 5px solid #ffff;
    border-radius: 50%;
}