h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: magenta;
    text-align: center;
}

form{
    max-width: 450px;
    margin: auto;
    background-color: #EAB6EB;
    border-radius: 10px;
}

a{
    color: red;
}

label{
    padding-top: 3px;
    padding-bottom: 3px;
    text-align:left;
    display:inline-block;
    min-width: 130px;
}

input, select{
    border: 2px rgb(228, 76, 102) solid;
    border-radius: 4px;
}

input[type="submit"]{
    background-color: sandybrown;
    font-weight: bold;
    margin-top: 5px;
}
legend{
    border: 2px solid red;
    background-color: seashell;
    border-radius: 5px;
}

.container{
    max-width: 450px;
    margin: auto;
}
#back{
    margin-bottom: -10px;
}
#gender{
    margin-left: 75px;
}
p{
    font-size: 17px;
}
